# Project exclude paths
/cloud-1202-common/target/
/cloud-1202-config/target/
/cloud-1202-eureka/target/
/cloud-1202-eureka2/target/
/cloud-1202-feign-consumer/target/
/cloud-1202-provider/target/
/cloud-1202-ribbon-consumer/target/
/cloud-1202-turbine/target/
/cloud-1202-zuul/target/

#gitignore
.idea
*.iml
*.ipr
*.iws
*.ids

.settings
.classpath
.project